NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://muhammadengrwaqas_db_user:waqas123@cluster0.ayrd5jn.mongodb.net/
JWT_SECRET=your_super_secret_key_here_change_this
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:3000
